<h1>{{ title }}</h1>   
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>

    <!-- ng-submit sẽ sử dụng để gửi dữ liệu trong form -->
</table>
<form ng-submit="tinhTong()">
    Number 1:
    <input type="text" ng-model="inputValue.number1">
    Number 2:
    <input type="text" ng-model="inputValue.number2">
    <button type="submit" class="btn btn-primary">Gửi dữ liệu</button>
</form>
<!-- ng-if: Tồn tại hay không tồn tại -->
<h5 ng-if="ketqua">Kết quả là: {{ ketqua }}</h5>
<!-- ng-show: Hiển thị hay không hiển thị -->
<h5 ng-show="ketqua">Kết quả là: {{ ketqua }}</h5>